## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Airai,TL,-8.9266,125.4092,56.61,42,24,3.04,few clouds
1,1,Kodiak,US,57.7900,-152.4072,50.67,98,100,7.63,overcast clouds
2,2,Balutakay,PH,6.7211,125.3517,77.74,88,77,8.84,broken clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,78.76,77,34,8.99,scattered clouds
4,4,Bethel,US,41.3712,-73.4140,81.90,55,0,2.86,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df[(city_data_df["Max Temp"]>=min_temp) &(city_data_df["Max Temp"]<= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
2,2,Balutakay,PH,6.7211,125.3517,77.74,88,77,8.84,broken clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,78.76,77,34,8.99,scattered clouds
4,4,Bethel,US,41.3712,-73.4140,81.90,55,0,2.86,clear sky
5,5,Jamestown,US,42.0970,-79.2353,79.02,54,73,8.01,broken clouds
6,6,Amahai,ID,-3.3333,128.9167,76.35,88,100,3.09,overcast clouds
12,12,Olga,RU,43.7444,135.2892,71.17,97,70,2.26,broken clouds
13,13,Saint-Philippe,RE,-21.3585,55.7679,71.15,81,60,6.64,light rain
18,18,Sioux Lookout,CA,50.1001,-91.9170,73.78,56,20,8.05,smoke
19,19,Vila Velha,BR,-20.3297,-40.2925,76.96,55,55,8.03,broken clouds
21,21,Mahajanga,MG,-15.7167,46.3167,75.22,73,20,6.91,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [9]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current description    0
dtype: int64

In [10]:
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
2,2,Balutakay,PH,6.7211,125.3517,77.74,88,77,8.84,broken clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,78.76,77,34,8.99,scattered clouds
4,4,Bethel,US,41.3712,-73.4140,81.90,55,0,2.86,clear sky
5,5,Jamestown,US,42.0970,-79.2353,79.02,54,73,8.01,broken clouds
6,6,Amahai,ID,-3.3333,128.9167,76.35,88,100,3.09,overcast clouds
12,12,Olga,RU,43.7444,135.2892,71.17,97,70,2.26,broken clouds
13,13,Saint-Philippe,RE,-21.3585,55.7679,71.15,81,60,6.64,light rain
18,18,Sioux Lookout,CA,50.1001,-91.9170,73.78,56,20,8.05,smoke
19,19,Vila Velha,BR,-20.3297,-40.2925,76.96,55,55,8.03,broken clouds
21,21,Mahajanga,MG,-15.7167,46.3167,75.22,73,20,6.91,few clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,Balutakay,PH,77.74,broken clouds,6.7211,125.3517,
3,Puerto Ayora,EC,78.76,scattered clouds,-0.7393,-90.3518,
4,Bethel,US,81.90,clear sky,41.3712,-73.4140,
5,Jamestown,US,79.02,broken clouds,42.0970,-79.2353,
6,Amahai,ID,76.35,overcast clouds,-3.3333,128.9167,
12,Olga,RU,71.17,broken clouds,43.7444,135.2892,
13,Saint-Philippe,RE,71.15,light rain,-21.3585,55.7679,
18,Sioux Lookout,CA,73.78,smoke,50.1001,-91.9170,
19,Vila Velha,BR,76.96,broken clouds,-20.3297,-40.2925,
21,Mahajanga,MG,75.22,few clouds,-15.7167,46.3167,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
        
hotel_df.head()

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,Balutakay,PH,77.74,broken clouds,6.7211,125.3517,Shark Beach Resort
3,Puerto Ayora,EC,78.76,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Bethel,US,81.90,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Jamestown,US,79.02,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Amahai,ID,76.35,overcast clouds,-3.3333,128.9167,HOTEL ISABELA

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[(hotel_df['Hotel Name']!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,Balutakay,PH,77.74,broken clouds,6.7211,125.3517,Shark Beach Resort
3,Puerto Ayora,EC,78.76,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Bethel,US,81.90,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Jamestown,US,79.02,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Amahai,ID,76.35,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
12,Olga,RU,71.17,broken clouds,43.7444,135.2892,Gostinitsa Rosmorport.
13,Saint-Philippe,RE,71.15,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Sioux Lookout,CA,73.78,smoke,50.1001,-91.9170,Knobby's Fly-In Camps
19,Vila Velha,BR,76.96,broken clouds,-20.3297,-40.2925,Quality Suites Vila Velha
21,Mahajanga,MG,75.22,few clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga

In [18]:
# 8a. Create the output File (CSV)
output_data_file="clean_hotel_df.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather<dt><dd>{Current description}<dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))